@font-face
{
	font-family:embeddedSans;
	src:url(/common/robotothin.ttf);
	font-weight:normal;
	font-style:normal;
}
@font-face
{
	font-family:embeddedSans;
	src:url(/common/robotothinitalic.ttf);
	font-weight:normal;
	font-style:italic;
}
@font-face
{
	font-family:embeddedSans;
	src:url(/common/robotoregular.ttf);
	font-weight:bold;
	font-style:normal;
}
@font-face
{
	font-family:embeddedMono;
	src:url(/common/sourcecodeproextralight.ttf);
	font-weight:normal;
	font-style:normal;
}

body
{
	margin:0px;
	font-family:embeddedSans,sans-serif;
	font-size:18px;
	line-height:1.4em;
	color:#000000;
	background-color:#ffffff;
}

.fixedWidth
{
	margin:0px auto 0px auto;
	padding:0.5em;
	max-width:700px;
}

#header
{
	background-color:#00af00;
}
#header h1
{
	font-size:3.0em;
	color:#ffffff;
}
#title
{
	color:inherit;
}
#title:hover
{
	background-color:#30a030;
}

h1,h2,h3
{
	margin:0px;
	line-height:1.4em;
	font-weight:bold;
}
h1
{
	font-size:2.3em;
	color:#808080;
}
h2
{
	font-size:1.7em;
	color:#a0a0a0;
}
h3
{
	font-size:1.2em;
	color:#c0c0c0;
}

code
{
	padding:0.1em 0.2em;
	display:inline-block;
	white-space:pre-wrap;
	word-break:break-all;
	font-family:embeddedMono,monospace;
	font-size:0.9em;
	line-height:1.4em;
	color:#b000b0;
	outline:1px dashed #ffc0ff;
	outline-offset:-2px;
}

a
{
	margin:0px -0.2em;
	padding:0.1em 0.2em;
	text-decoration:none;
	color:#0000ff;
	border-radius:0.05em;
	transition:background-color 0.1s;
}
a:hover
{
	background-color:#e0e0ff;
}

img
{
	max-width:100%;
	border-radius:0.1em;
}

ul
{
	margin:0px;
	padding:0px 0px 0px 1.5em;
	list-style-type:square;
}